* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-main);
    font-size: var(--fs-base);
}

:root {
    --font-main: "Manrope", sans-serif;
}



.h1__nav {
    color: #f1f1f1;
    font-weight: 500;
    /* тонкая жирность */
    font-size: 50px;
    line-height: 78%;
    margin-top: 20px;
}

a {
    text-decoration: none;
    /* Убираем линию */
    color: #f1f1f1;
    /* Меняем цвет текста */
}

.nav__nav {
    background-color: rgb(162, 156, 156);
    display: flex;
    height: 100px;
    justify-content: space-around;
    gap: 20px;
    width: 100%;

}

.a__nav {
    margin-top: 30px;
    display: flex;
    gap: 30px;
    font-size: 20px;

}

body {
    background-color: rgb(255, 255, 255);
}

.main {
    max-width: 1500px;
    margin: 0 auto;
    margin-top:70px ;
}

.h2__main {
    color: #db9696;
    font-weight: 400;
    /* тонкая жирность */
    font-size: 50px;
    line-height: 78%;
    margin-top: 20px;
}

.info__main{
    display: flex;
    gap: 50px;
    margin-top: 20px;
}

.soz {
    display: flex;
    gap: 30px;
    margin-top: 40px;
}

.header {
    background: url(./photo_2025-05-25_10-25-54.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 1000px;
    width: 100%;
    background-position: center;
}

.header__title {
    font-weight: 300;
    font-size: 200px;
    text-align: center;
    color: #fff;
    margin-top: 100px;
  
} 

.gallary__title{
    color: #db9696;
    font-weight: 400;
    /* тонкая жирность */
    font-size: 50px;
    line-height: 78%;
    margin-top: 20px;
    margin-bottom: 40px;
}

.img__gal{
    border-radius: 20px;
    width:380px ;
    height: 250px;
    
}

.gallery{
    display: flex;
    align-items: center;
    
    
}

.img__gall {
    border-radius: 20px;
    width:760px ;
    height: 500px;
    margin-left: 350px;
}

.img222 {
    border-radius: 20px;
    height: 730px;
    width: 400px;
}